<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">.</div>
      <div class="col-4">
      <div class="footer-inner">
          <ul>
            <li class="logof"> <a href="https://en.ird.fr/international-scientific-coordination-network-south-irn" target="blank"><img src="/images/logoIRD.png" /></a></li>
            </ul>
        </div>
      </div>
        <div class="col-4">.</div>
    </div>
     <div class="row">
      <div class="col-12">
      <div class="footer-inner">
      <ul>
      <li class="text"> This International Research Network is supported by IRD (Institut de Recherche pour le Developpement, France).</li>
          </ul>
      </div>
      </div>
      </div>
    </div>
  </div>


